{% extends "layout.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='index.css')}}">
{% endblock %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<!-- Homepage goes here -->
<body>
<div class="container">
    <div class="box">
        <div class="imgBox">
            <img src="happy-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Happiness</br>
            <span>the girl is happy</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="sad-img.jpeg" alt="">
        </div>
        <div class="content">
            <h2>Saddness</br>
            <span>the girl is sad</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="fear-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Fear</br>
            <span>the lady is in fear</span></h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="box">
        <div class="imgBox">
            <img src="surprise-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Surpise</br>
            <span>The girl is surprised</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="disgust-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Disgust</br>
            <span>the man is disgusted</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="anger-img.jpeg" alt="">
        </div>
        <div class="content">
            <h2>Anger</br>
            <span>The girl is angry</span></h2>
        </div>
    </div>
    
</div>
<div class="container">
    <div class="box">
        <div class="imgBox">
            <img src="relief-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Relief</br>
            <span>The lady is relieved.</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="excitement-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Excitement</br>
            <span>The girl is excited.</span></h2>
        </div>
    </div>
    <div class="box">
        <div class="imgBox">
            <img src="embarassment-img.jpg" alt="">
        </div>
        <div class="content">
            <h2>Embarassment</br>
            <span>the lady is embarassed.</span></h2>
        </div>
    </div>
</div>
</body>

{% endblock %}
